<div class="bottom-footer-title">
    Palmy Vietnam Group
</div>
<div class="bottom-footer-content">
    @*<a href="http://maidbyhourpalmy.blogspot.com" target="_blank"><span><strong>maidbyhourpalmy.com</strong></span></a>*@
</div>