<div class="center-footer-wrapper">
    <div class="left-center-footer">
        <h5>Giúp việc Palmy Vietnam</h5>
        <p><strong>Địa chỉ:</strong> P911 - Tòa nhà GOLDEN LAND, 275 Nguyễn Trãi, Thanh Xuân, Hà Nội</p>


        <p><strong>Điện thoại: 043 999 8338</strong> - <strong>Email:</strong> <a href="mailto:palmyvn@gmail.com"><strong>palmyvn@gmail.com</strong></a></p>

        <p><strong>Website:<a href="/">giupviecpalmy.com</a></strong></p>
    </div>


    <div class="mid-center-footer">
        <h5>Thời gian làm việc</h5>
        <p> T2-CN: 8:00 - 18:00</p>
        <p><strong>Mr Điển:</strong>   01682 911 911</p>
        <p><strong>Ms Phương:</strong> 01678 911 888</p>
    </div>

    <div class="right-center-footer">
        <h5>Quyền tác giả</h5>
        <p>Website giupviecpalmy.com - Sở hữu bởi công ty Palmy Vietnam, được đăng ký bản quyền: 1109/2014/QTG do Cục Bản Quyền Tác Giả cấp năm 2014. Mọi sự sao chép nội dung mà không được sự đồng ý của công ty Palmy Vietnam là trái phép.</p>

    </div>
</div>