<div id="facebook" class="left-box">

    <div class="left-title"><span>Kết nối Facebook</span></div>
    <iframe src="//www.facebook.com.vn/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com.vn%2FPalmyVietnamLtd&amp;width=245&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:245px; height:290px;" allowtransparency="true"></iframe>
    </div>
    