@*<div class="col-3">*@
    <div class="box-wrapper main-box">
        <h3 class="box-title"><a href="/cam-nang/meo-vat">Mẹo vặt gia đình</a></h3>
        @*<div class="box-detail">*@
        @Html.Raw(ViewBag.View)
        <a href="@Html.Raw(ViewBag.GroupLink)"><span class="news-detail">Xem chi tiết</span></a>
        @*</div>*@
    </div>
@*</div>*@

@*<div class="family-tips">
    <div class="side-bar-title"><a href="/cam-nang/meo-vat">Mẹo vặt gia đình</a></div>
    <ul>
        @Html.Raw(ViewBag.View)
    </ul>
</div>*@