<div id="google-plus" class="right-box">

    <div class="right-title">Kết nối G+</div>
    <!-- Đặt thẻ này sau thẻ tiện ích con cuối cùng. -->
    <!-- Đặt thẻ này vào nơi bạn muốn tiện ích con kết xuất. -->
    <div class="g-person" data-width="194" data-href="" data-rel="author"></div>
    <script type="text/javascript">gapi.person.go();</script>
</div>