<div id="google-map" class="right-box">

    <div class="side-bar-title">Bản đồ</div>
    <div class="google-map-content">
        <iframe width="218" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=96a+%C4%90%E1%BB%8Bnh+C%C3%B4ng,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=96a+%C4%91%E1%BB%8Bnh+co&amp;sll=37.0625,-95.677068&amp;sspn=32.939885,100.546875&amp;ie=UTF8&amp;hq=&amp;hnear=96+%C4%90%E1%BB%8Bnh+C%C3%B4ng,+Ph%C6%B0%C6%A1ng+Li%E1%BB%87t,+Thanh+Xu%C3%A2n,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam&amp;t=m&amp;z=14&amp;ll=20.984391,105.838846&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=vi&amp;geocode=&amp;q=96a+%C4%90%E1%BB%8Bnh+C%C3%B4ng,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=96a+%C4%91%E1%BB%8Bnh+co&amp;sll=37.0625,-95.677068&amp;sspn=32.939885,100.546875&amp;ie=UTF8&amp;hq=&amp;hnear=96+%C4%90%E1%BB%8Bnh+C%C3%B4ng,+Ph%C6%B0%C6%A1ng+Li%E1%BB%87t,+Thanh+Xu%C3%A2n,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam&amp;t=m&amp;z=14&amp;ll=20.984391,105.838846" style="color:#0000FF;text-align:left">Xem Bản đồ cỡ lớn hơn</a></small>
    </div>
</div>

