@*<div class="col-3">*@
<div class="box-wrapper main-box box">
    <h3 class="box-title"><a href="/">Bài viết mới nhất</a></h3>
    @*<div class="box-detail">*@
    @Html.Raw(ViewBag.LatestNews)

    @*</div>*@
</div>
@*</div>*@