<div id="recruitment-list" class="box-wrapper main-box">
    <h3 class="box-title">
        <a href="/tuyen-dung">
            <span>CÁC BÀI VIẾT CÙNG DANH MỤC</span>
        </a>
    </h3>
        @Html.Raw(ViewBag.MenuList)
   
</div>
