<div id="services-list" class="box-wrapper main-box">
    <h3 class="box-title">
        <a href="/dich-vu">
            <span>CÁC BÀI VIẾT CÙNG DANH MỤC</span>
        </a>
    </h3>
    @*<div class="box-detail">*@
        @Html.Raw(ViewBag.MenuList)
    @*</div>*@
</div>
