<div id="statistic" class="left-box">
    <div class="side-bar-title">Thống kê truy cập</div>
    <div class="statistic-content">
        <!-- Histats.com  START  (standard)-->
        <script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
        <a href="http://www.histats.com" target="_blank" title="simple hit counter">
            <script type="text/javascript">
            try {
                Histats.start(1, 2836361, 4, 493, 112, 61, "00011111");
                Histats.track_hits();
            } catch (err) { };
            </script>
        </a>
        <noscript><a href="http://www.histats.com" target="_blank"><img src="http://sstatic1.histats.com/0.gif?2836361&101" alt="simple hit counter" border="0"></a></noscript>
        <!-- Histats.com  END  -->
        @*<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
        <a href="http://www.histats.com" target="_blank" title="website statistics">
            <script type="text/javascript">
                try {
                    Histats.start(1, 2836361, 4, 406, 165, 100, "00011101");
                    Histats.track_hits();
                } catch (err) { };
            </script>
        </a>*@
        @*<a href="http://www.histats.com" target="_blank">
            <img src="http://sstatic1.histats.com/0.gif?2836361&101" alt="website statistics" border="0"></a>*@
    </div>
</div>

