<div id="sub-social" class="left-box">

    <div class="side-bar-title">Mạng xã hội khác</div>
    <div class="sub-social-content">
        <a target="_blank" href='https://www.youtube.com' class="youtube" rel="nofollow">
            <img src="~/Content/Images/Icons/youtube.png" alt="youtube" />
        </a>
        <a target="_blank" href='https://instagram.com' class="" rel="nofollow">
            <img src="~/Content/Images/Icons/instagram.png" alt="instagram" />
        </a>
        <a target="_blank" href='https://www.pinterest.com/' class="" rel="nofollow">
            <img src="~/Content/Images/Icons/pinterest.png" alt="pinterest" />
        </a>
        <a target="_blank" href='https://www.tumblr' class="" rel="nofollow">
            <img src="~/Content/Images/Icons/tumblr.png" alt="tumblr" />
        </a>
        <a target="_blank" href='https://vi.wordpress.com/' class="" rel="nofollow">
            <img src="~/Content/Images/Icons/wordpress.png" alt="wordpress" />
        </a>
        <a target="_blank" href='http://digg.com/' class="" rel="nofollow">
            <img src="~/Content/Images/Icons/digg.png" alt="digg" />
        </a>
        <a target="_blank" href='https://www.flickr.com' class="" rel="nofollow">
            <img src="~/Content/Images/Icons/flickr.png" alt="flickr" />
        </a>

        <a target="_blank" href='https://www.blogger.com/' class="" rel="nofollow">
            <img src="~/Content/Images/Icons/blogger.png" alt="blogspot" />
        </a>
        @*<a target="_blank" href='http://www.anphabe.com/' class="" rel="nofollow">
            <img src="~/Content/Images/Homepage/ic_anphabe.jpg" alt="anphabe" />
        </a>

        <a target="_blank" href='http://me.zing.vn/' class="zing" rel="nofollow">
            <img src="~/Content/Images/Homepage/ic_zing.jpg" alt="anphabe" />
        </a>*@
    </div>
</div>