<div class="copyright">
    <p>@Html.Raw(ViewBag.View)</p>
</div>
@*<p id="info-palmy">Copyright © 2014 CÔNG TY TNHH ĐẦU TƯ VÀ THƯƠNG MẠI PALMY VIETNAM  <br/>

    Địa chỉ: F15, tầng 15, tòa nhà 96A Định Công, Thanh Xuân, Hà Nội<br/>
    Tel: (04) 3864 7150 - Hotline: 01678 911 888 - 01682 911 911 - Email : info@giupviecpalmy.com, chamsockhachhang@giupviecpalmy.com<br/>
    <br/>
    </p>*@

