<div class="video">
    <div class="side-bar-title">Video Palmy Vietnam</div>
    
        <div class="video-content">
            <iframe width="214" height="120" src="//www.youtube.com/embed/j0bEsbMAkW8" frameborder="0" style="margin-left:2px;margin-top:6px;"></iframe>
        </div>

</div>

