.main-menu {width:auto;height:49px;margin:5px auto;padding:0;margin-left:90px;}

.ribbon {width:auto;height:49px;padding:0;margin:0;}
.ribbon ul {width:1366px;margin:0;padding:0;}
.ribbon span{
          background: #FEF629;
          /*background:url('../Images/Homepage/gradient.png') repeat-x;*/
          display:inline-block;
          line-height:3em;
            padding:0 1em;
          margin-top:0.5em;
          position:relative;
          font-weight:bold;
      
          -webkit-transition: background-color 0.2s, margin-top 0.2s;  /* Saf3.2+, Chrome */
          -moz-transition: background-color 0.2s, margin-top 0.2s;  /* FF4+ */
          -ms-transition: background-color 0.2s, margin-top 0.2s;  /* IE10 */
          -o-transition: background-color 0.2s, margin-top 0.2s;  /* Opera 10.5+ */
          transition: background-color 0.2s, margin-top 0.2s;}
         
       .ribbon a:hover span{
          background:#10adf5;
          margin-top:0;
          color:white;
       }
       
       .ribbon a:link, .ribbon a:visited{ 
          color:#000;
          text-decoration:none;
          float:left;
          height:3.5em;
          overflow:hidden;}


       .ribbon span:before{
       content: "";
       position:absolute;
       top:3em;
       left:0;
       border-right:0.5em solid #9B8651;
       border-bottom:0.5em solid #fff;}

.ribbon span:after{
       content: "";
       position:absolute;
       top:3em;
       right:0;
       border-left:0.5em solid #10adf5;
       border-bottom:0.5em solid #fff;}
.ribbon:after, .ribbon:before {
       margin-top:0.5em;
       content: "";
       float:left;
       /*border:1.5em solid #fff;}*/
  border:1.5em solid #FEF629;}

  	.ribbon:after {
 			border-right-color:transparent;}

.ribbon:before {
  		border-left-color:transparent;}