#logo {float:left;}
/*.center-header img {float:left;}*/

#hotline {height:40px; line-height:40px; float:right; font-size:16px; color:#F00; font-weight:bolder; margin-top:5px;margin-right:5px;padding:0;}
.hotline-phone {color:#10adf5;font-weight:bold;}

